@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndDelay {
  0% {
    opacity: 0; }
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s 0s forwards; }

.opacity-zero {
  opacity: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  min-height: 100vh;
  line-height: 1.2; }
  body::-webkit-scrollbar {
    display: none; }

::selection {
  background-color: #ffffff;
  color: #000; }

.overflow-y-none {
  overflow-y: hidden; }

.overflow-none {
  overflow: hidden; }

@font-face {
  font-family: 'Arial';
  src: url("./../css/fonts/Arial/ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("./../css/fonts/Arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("./../css/fonts/Arial/ArialMT.woff") format("woff"), url("./../css/fonts/Arial/ArialMT.ttf") format("truetype"), url("./../css/fonts/Arial/subset-ArialMT.svg#ArialMT") format("svg"), url("./../css/fonts/Arial/subset-ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Arial';
  src: url("./../css/fonts/Arial-Black/Arial-Black.eot");
  src: local("Arial-black"), url("./../css/fonts/Arial-Black/Arial-Black.eot?#iefix") format("embedded-opentype"), url("./../css/fonts/Arial-Black/Arial-Black.woff") format("woff"), url("./../css/fonts/Arial-Black/Arial-Black.ttf") format("truetype"), url("./../css/fonts/Arial-Black/subset-Arial-Black.svg#Arial-Black") format("svg"), url("./../css/fonts/Arial-Black/subset-Arial-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

body {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000; }

.load-more {
  padding-left: 3rem;
  padding-right: 3rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .load-more {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .load-more {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .load-more {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 75em) {
    .load-more {
      padding: 1.6vw 0 2.6vw; } }
  .load-more a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.3rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.5s; }
    @media only screen and (min-width: 75em) {
      .load-more a {
        font-size: 1.8vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .load-more a {
        font-size: 2.66rem;
        line-height: 1.2; } }
    .load-more a:hover {
      transform: scale(1.05); }
    .load-more a:active {
      transform: scale(1); }

.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  cursor: url("./../img/close.png"), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s; }
  .popup--show {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100vh; }
  .popup__container {
    position: relative;
    width: 80%;
    height: 80%; }
  .popup video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.55rem;
  padding-bottom: 2.55rem;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .header {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .header {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .header {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .header {
      padding-top: 4.4rem;
      padding-bottom: 4.4rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .header {
      padding-top: 4.55rem;
      padding-bottom: 4.55rem; } }
  @media only screen and (min-width: 75em) {
    .header {
      padding-top: 3.5vw;
      padding-bottom: 3.5vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .header {
      padding-top: 2.55rem;
      padding-bottom: 2.55rem; } }
  .header__logo {
    max-width: 20rem;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size: 3.15rem;
    line-height: 0.97;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: -1.8px; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .header__logo {
        max-width: 40rem;
        font-size: 2.91rem;
        letter-spacing: -1.5px; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .header__logo {
        max-width: 40rem;
        font-size: 2.9rem;
        letter-spacing: -1.44px; } }
    @media only screen and (min-width: 75em) {
      .header__logo {
        max-width: 40vw;
        font-size: 1.92vw;
        letter-spacing: -1.44px; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .header__logo {
        max-width: 40rem;
        font-size: 3.15rem;
        letter-spacing: -1.8px; } }

.navigation__checkbox {
  visibility: hidden;
  opacity: 0; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__checkbox {
      display: none; } }

.navigation__button {
  cursor: pointer;
  height: 5.8rem;
  width: 5.8rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2000;
  top: 3.2rem;
  right: 3rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__button {
      display: none; } }

.navigation__background {
  height: 3.75rem;
  width: 3.75rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-image: radial-gradient(#000, #000);
  z-index: 1000;
  transition: opacity 0.2s; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__background {
      visibility: none;
      opacity: 0; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__nav {
      height: 100%;
      padding-top: 0;
      padding-right: 0;
      margin-top: -0.5rem;
      position: relative;
      visibility: visible;
      opacity: 1; } }

.navigation__list {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__list {
      position: relative;
      display: flex; } }

.navigation__item {
  margin: 0rem; }

.navigation__link:link, .navigation__link:visited, .navigation__link-language:link, .navigation__link-language:visited {
  display: inline-block;
  font-size: 3.7rem;
  letter-spacing: 1px;
  padding: 0.5rem 0.2rem;
  text-decoration: none;
  transition: opacity 0.5s; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__link:link, .navigation__link:visited, .navigation__link-language:link, .navigation__link-language:visited {
      font-size: 1.8rem;
      line-height: 1.15;
      letter-spacing: 0px;
      padding: 0rem;
      margin-top: 0.8rem; } }
  @media only screen and (min-width: 75em) {
    .navigation__link:link, .navigation__link:visited, .navigation__link-language:link, .navigation__link-language:visited {
      margin-top: 0.2rem;
      font-size: 1.4vw; } }

.navigation__link:hover, .navigation__link:active, .navigation__link-language:hover, .navigation__link-language:active {
  background-position: 100%;
  transform: scale(0.9);
  transition: transform 0.5s; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__link:hover, .navigation__link:active, .navigation__link-language:hover, .navigation__link-language:active {
      transform: none; } }

.navigation__link:link, .navigation__link:visited {
  text-transform: uppercase;
  color: #ffffff; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__link:link, .navigation__link:visited {
      color: #000;
      padding: 0rem 0.23rem; } }
  @media only screen and (min-width: 75em) {
    .navigation__link:link, .navigation__link:visited {
      padding: 0rem 0.18vw; } }

.navigation__link-language {
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 3.7rem;
  letter-spacing: 1px;
  padding: 0.5rem 0.1rem;
  text-decoration: none; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__link-language {
      margin-left: 1.2vw;
      font-size: 1.8rem;
      line-height: 1.15;
      padding: 0rem 0.1rem;
      letter-spacing: 0px; } }
  @media only screen and (min-width: 75em) {
    .navigation__link-language {
      padding: 0 !important;
      font-size: 1.4vw; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__link-language:hover {
      color: #000 !important;
      transition: color 0.5s; } }
  .navigation__link-language:link, .navigation__link-language:visited {
    color: rgba(255, 255, 255, 0.3); }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .navigation__link-language:link, .navigation__link-language:visited {
        color: rgba(0, 0, 0, 0.3); } }
  .navigation__link-language span {
    cursor: default;
    color: #ffffff; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .navigation__link-language span {
        color: #000; } }

.navigation__checkbox:checked ~ .navigation__background {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 0rem;
  margin-left: 0.5rem;
  transition: all 0.3s;
  width: 5.3rem;
  height: 5.3rem;
  background-color: #000;
  display: inline-block; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .navigation__icon {
      visibility: none;
      opacity: 0; } }
  .navigation__icon::before, .navigation__icon::after {
    width: 5.3rem;
    height: 5px;
    background-color: #ffffff;
    display: inline-block; }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .navigation__icon::before, .navigation__icon::after {
        visibility: none;
        opacity: 0; } }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    transform: rotate(-90deg);
    top: 2.4rem; }
  .navigation__icon::after {
    top: 2.4rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  transform: rotate(45deg);
  background-color: transparent; }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 9rem; }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .footer {
      height: 11vw; } }
  @media only screen and (min-width: 75em) {
    .footer {
      height: 7vw; } }
  .footer__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem 3rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .footer__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 4.6rem 2rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .footer__content {
        padding: 0 4.6rem 4.2rem; } }
    @media only screen and (min-width: 75em) {
      .footer__content {
        padding: 0 3.7vw 4.8vh; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .footer__content {
        padding: 0 3rem 0.5rem; } }
  .footer__list {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .footer__list {
        margin-bottom: 2rem; } }
  .footer__link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 2.04rem;
    text-transform: capitalize;
    transition: opacity 0.5s; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .footer__link {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 75em) {
      .footer__link {
        font-size: 0.85vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .footer__link {
        font-size: 2rem; } }
  .footer__copyright {
    font-size: 0.8rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .footer__copyright {
        margin-top: 0.5rem;
        font-size: 0.71rem;
        padding: 0 0 1.8rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .footer__copyright {
        font-size: 0.71rem; } }
    @media only screen and (min-width: 75em) {
      .footer__copyright {
        font-size: 0.545vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .footer__copyright {
        margin-top: 1.8rem;
        font-size: 0.8rem; } }
  .footer__absolute {
    position: absolute;
    bottom: 0;
    width: 100vw; }

.project {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 0.45rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .project {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .project {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .project {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .project {
      margin-top: 0rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .project {
      margin-top: 0.1rem; } }
  .project__main-image {
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
    background-color: black;
    overflow: hidden; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__main-image {
        aspect-ratio: 3.07/1; } }
    @media only screen and (min-width: 75em) {
      .project__main-image {
        aspect-ratio: 3.07/1; } }
    .project__main-image img,
    .project__main-image video {
      position: absolute;
      height: 100%;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .project__main-image img,
        .project__main-image video {
          height: auto !important;
          width: 100%; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .project__main-image.video {
      background-color: #000; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .project__main-image.video img {
      display: none; } }
  .project__main-image.video video {
    display: none; }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__main-image.video video {
        display: block;
        cursor: url(./../img/play.png), auto;
        animation: fadeInAndDelay 2s; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .project__info {
      display: flex; } }
  .project__title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 2.7rem;
    line-height: 1.2; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__title {
        display: inline-block;
        margin-top: 3.85rem;
        margin-bottom: 0.2rem;
        padding-left: 4.85rem;
        font-size: 1.95rem;
        width: max-content;
        letter-spacing: -1px; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__title {
        margin-top: 4.2rem;
        margin-bottom: 0rem;
        padding-left: 4.7rem;
        font-size: 2rem;
        letter-spacing: -1.17px; } }
    @media only screen and (min-width: 75em) {
      .project__title {
        padding-left: 3.8vw;
        margin-top: 3.33vw;
        font-size: 1.75vw;
        letter-spacing: -0.5px; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .project__title {
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
        font-size: 2.7rem;
        line-height: 1.2;
        padding-left: 0rem; } }
  .project__subtitle {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 400;
    max-width: 28rem;
    opacity: 0.85; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__subtitle {
        padding-left: 4.85rem;
        font-size: 1.41rem;
        line-height: 0.9;
        max-width: 19.7rem;
        width: max-content; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__subtitle {
        line-height: 1;
        font-size: 1.5rem; } }
    @media only screen and (min-width: 75em) {
      .project__subtitle {
        padding-left: 3.8vw;
        font-size: 1.4vw;
        line-height: 1.2;
        max-width: 18.8vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .project__subtitle {
        padding-left: 0rem;
        font-size: 2.4rem;
        line-height: 1.2;
        max-width: 28rem; } }
    @media only screen and (min-width: 75em) {
      .project__subtitle--showreel {
        max-width: 22vw; } }
  .project__description {
    margin-top: 2.3rem;
    font-size: 1.62rem;
    line-height: 1.2;
    font-weight: 400;
    max-width: 80%;
    opacity: 0.85; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__description {
        margin-top: 2rem;
        padding-top: 2.1rem;
        padding-right: 3.3rem;
        padding-left: 5rem;
        font-size: 1.2rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__description {
        padding-top: 2.4rem;
        max-width: 45%;
        line-height: 1.25; } }
    @media only screen and (min-width: 75em) {
      .project__description {
        margin-top: 3.1vw;
        padding-top: 0.5vw;
        padding-left: 3.7vw;
        font-size: 0.9vw;
        line-height: 1.25;
        max-width: 40%; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .project__description {
        margin-top: 0.8rem;
        font-size: 1.62rem;
        line-height: 1.2;
        padding-left: 0.5rem;
        max-width: 100%; } }
    @media only screen and (min-width: 75em) {
      .project__description--cheetos {
        max-width: 31%; } }
  .project__brief {
    display: none; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__brief {
        display: inline-block;
        padding-top: 2.1rem;
        padding-left: 4.85rem;
        font-size: 1.2rem;
        line-height: 1.2;
        opacity: 0.85; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__brief {
        padding-top: 1.9rem;
        line-height: 1.25; } }
    @media only screen and (min-width: 75em) {
      .project__brief {
        padding-top: 1.5vw;
        padding-left: 3.8vw;
        font-size: 0.94vw;
        line-height: 1.18;
        max-width: 18.8vw; } }
  .project__gallery {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__gallery {
        padding-top: 3.5rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__gallery {
        padding-top: 3.1rem; } }
    @media only screen and (min-width: 75em) {
      .project__gallery {
        padding-top: 2.3vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .project__gallery {
        padding-top: 2rem; } }
  .project__image {
    position: relative;
    margin-top: 0.81rem;
    background-color: black;
    flex-basis: 100%;
    aspect-ratio: 2.06/1;
    overflow: hidden; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__image {
        flex-basis: 66.15%;
        margin-top: 0.81rem;
        aspect-ratio: 2.04/1; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .project__image {
        margin-top: 1.2rem; } }
    @media only screen and (min-width: 75em) {
      .project__image {
        margin-top: 1.2vw; } }
    .project__image img {
      position: absolute;
      width: 100%;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .project__image--50 {
      background-color: black;
      flex-basis: 49%;
      aspect-ratio: 1.015/1; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .project__image--50 {
          flex-basis: 32.6%; } }
      .project__image--50 img {
        width: auto !important;
        height: 100%; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__image--half {
        flex-basis: 49.5%;
        aspect-ratio: 6.1/4; } }
    .project__image--half img {
      width: 100%;
      height: auto; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .project__image--half img {
          width: auto !important;
          height: 100%; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__image--full {
        flex-basis: 100%;
        aspect-ratio: 3.1/1; } }
    .project__image--full img {
      width: 100%;
      height: auto; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__image--50-desktop {
        flex-basis: 32.6%; } }
    .project__image--50-desktop img {
      width: 100%;
      height: auto; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .project__image--50-desktop img {
          width: auto !important;
          height: 100%; } }
  .project__more {
    display: flex;
    justify-content: center;
    padding: 2.6rem 0; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .project__more {
        padding: 2.4rem 0; } }
    @media only screen and (min-width: 75em) {
      .project__more {
        padding: 3.3vw 0; } }
    .project__more a {
      color: #000;
      text-decoration: none;
      font-size: 2.66rem;
      line-height: 1.2;
      font-weight: 900;
      text-transform: uppercase; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .project__more a {
          font-size: 1.5rem;
          letter-spacing: -1px; } }
      @media only screen and (min-width: 75em) {
        .project__more a {
          font-size: 1.8vw; } }
      @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
        .project__more a {
          font-size: 2.66rem;
          line-height: 1.2; } }

.home {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .home {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .home {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .home {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .home {
      padding-left: 4.8rem; } }
  @media only screen and (min-width: 75em) {
    .home {
      padding-left: 5.4vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .home {
      height: 69vh; } }
  .home__title {
    font-size: 7.3vw;
    line-height: 1;
    font-weight: 400;
    opacity: 0.85;
    margin-bottom: 2.4rem;
    animation: fadeInLeft 0.3s; }
    @media only screen and (min-width: 30em) and (min-device-width: 480px) {
      .home__title {
        font-size: 5.3vw; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .home__title {
        font-size: 3.35rem;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 1.6rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .home__title {
        max-width: 80%;
        margin-bottom: 2.1rem; } }
    @media only screen and (min-width: 75em) {
      .home__title {
        max-width: 60vw;
        font-size: 2.35vw;
        margin-bottom: 2.8vh; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .home__title {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 2.85rem;
        max-width: 80%;
        margin-bottom: 2rem; } }
    @media only screen and (min-width: 75em) {
      .home__title--eng {
        max-width: 50vw; } }
  .home__button-container {
    opacity: 0;
    animation-name: fadeInLeft;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.15s; }
  .home__button {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 8vw;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.1px;
    margin-bottom: 5rem;
    transition: transform 0.5s; }
    @media only screen and (min-width: 30em) and (min-device-width: 480px) {
      .home__button {
        font-size: 6vw; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .home__button {
        font-size: 3.3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        letter-spacing: -1px; } }
    @media only screen and (min-width: 75em) {
      .home__button {
        font-size: 2.3vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .home__button {
        font-size: 3.33rem;
        padding-left: 0;
        padding-right: 0; } }
    .home__button:hover {
      transform: translateX(15px); }

.about {
  padding-top: 2.65rem;
  padding-bottom: 5.5rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .about {
      padding-top: 4.1rem;
      padding-bottom: 3.9rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .about {
      padding-top: 4.4rem;
      padding-bottom: 9rem; } }
  @media only screen and (min-width: 75em) {
    .about {
      padding-top: 6.27vh; } }
  .about__container {
    padding-left: 3rem;
    padding-right: 3rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__container {
        padding-left: 4.6rem;
        padding-right: 4.6rem; } }
    @media only screen and (min-width: 75em) {
      .about__container {
        padding-left: 3.7vw;
        padding-right: 3.7vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .about__container {
        padding-left: 3rem;
        padding-right: 3rem; } }
    .about__container--1 {
      opacity: 0;
      animation: fadeIn 0.3s 0s forwards; }
    .about__container--2 {
      opacity: 0;
      animation: fadeIn 0.3s 0.15s forwards; }
    .about__container--3 {
      opacity: 0;
      animation: fadeIn 0.3s 0.3s forwards; }
    .about__container:not(:first-child) {
      margin-top: 5.45rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__container:not(:first-child) {
          margin-top: 2.7rem;
          margin-bottom: 1.8rem; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__container:not(:first-child) {
          margin-top: 0rem; } }
      @media only screen and (min-width: 75em) {
        .about__container:not(:first-child) {
          margin-bottom: 0.8rem; } }
  .about__description {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
    opacity: 0.85;
    margin-bottom: 1.4rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__description {
        padding-left: 5rem;
        max-width: 50%;
        line-height: 1.15;
        margin-bottom: 1.6rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__description {
        display: inline-block;
        max-width: 33%;
        line-height: 1.15; } }
    @media only screen and (min-width: 75em) {
      .about__description {
        padding-left: 3.7vw;
        font-size: 1.85vw;
        letter-spacing: 0.4px;
        max-width: 29%;
        line-height: 1.08; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .about__description {
        padding-left: 0rem; } }
    .about__description--images {
      padding-top: 0.3rem;
      padding-left: 0.7rem;
      max-width: 85%; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__description--images {
          padding-top: 4.5rem;
          padding-left: 5rem;
          max-width: 60%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__description--images {
          padding-top: 2.5rem;
          padding-left: 5rem;
          max-width: 45%; } }
      @media only screen and (min-width: 75em) {
        .about__description--images {
          padding-top: 0rem;
          padding-left: 3.7vw;
          max-width: 50%; } }
      @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
        .about__description--images {
          padding-left: 0rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .about__products {
      padding-left: 5rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .about__products {
      display: inline-block;
      padding-left: 3.5rem;
      vertical-align: top;
      width: 66%;
      margin-bottom: 3.3rem; } }
  @media only screen and (min-width: 75em) {
    .about__products {
      padding-left: 3.2vw;
      vertical-align: top;
      width: 70.5%;
      margin-bottom: 6.1rem; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .about__products {
      padding-left: 0rem; } }
  .about__title {
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 900;
    padding-left: 0.2rem;
    margin-bottom: 1.6rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__title {
        font-size: 2.4rem;
        padding-left: 0rem;
        letter-spacing: -1px;
        margin-top: 1.55rem;
        margin-bottom: 1.05rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__title {
        font-size: 2.33rem;
        padding-left: 0rem;
        letter-spacing: -0.75px;
        margin-top: 0rem;
        margin-bottom: 0.88rem; } }
    @media only screen and (min-width: 75em) {
      .about__title {
        font-size: 1.86vw;
        line-height: 1.38;
        margin-bottom: 1.05vw; } }
  .about__product-list {
    margin-bottom: 1.6rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__product-list {
        display: inline-block;
        width: 32.6%;
        padding-right: 1rem;
        vertical-align: top; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__product-list {
        width: 26.5%;
        margin-bottom: 1.8rem; } }
    @media only screen and (min-width: 75em) {
      .about__product-list {
        width: 27.5%;
        margin-bottom: 4.6vw; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__product-list:first-child {
        margin-right: 8.8%; } }
    @media only screen and (min-width: 75em) {
      .about__product-list:first-child {
        margin-right: 8%; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__product-list:nth-child(2) {
        margin-right: 1.15%; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__product-list:nth-child(2) {
        margin-right: 10.2%; } }
    @media only screen and (min-width: 75em) {
      .about__product-list:nth-child(2) {
        margin-right: 6%; } }
    .about__product-list p {
      font-size: 1.6rem;
      line-height: 1.2;
      max-width: 97%;
      padding-left: 0.1rem;
      opacity: 0.6; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__product-list p {
          font-size: 1.2rem;
          line-height: 1.25;
          max-width: 88%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__product-list p {
          font-size: 1.2rem;
          line-height: 1.25;
          max-width: 100%; } }
      @media only screen and (min-width: 75em) {
        .about__product-list p {
          font-size: 0.7vw;
          line-height: 1.4;
          padding-left: 0rem;
          max-width: 85%; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__product-list--commercial p {
        max-width: 80%; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .about__desktop-images {
      display: flex;
      justify-content: space-between; } }
  .about__clients {
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__clients {
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__clients {
        width: 75%;
        padding-top: 3rem;
        padding-left: 0;
        padding-right: 1.4rem; } }
    @media only screen and (min-width: 75em) {
      .about__clients {
        width: 75%;
        padding-top: 1.8rem; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .about__clients {
        padding-bottom: 2rem; } }
  .about__client {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-top: 4.5rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__client {
        flex: 0 0 16%;
        margin-top: 2rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__client {
        flex: 0 0 25%;
        margin-top: 0rem; } }
    @media only screen and (min-width: 75em) {
      .about__client {
        flex: 0 0 25%;
        margin-top: 1vw; } }
    .about__client:nth-child(3n) {
      flex: 0 0 100%; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(3n) {
          flex: 0 0 16%; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__client:nth-child(n + 6) {
        margin-top: 3.8rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__client:nth-child(n + 5) {
        flex: 0 0 33%;
        margin-top: 4rem; } }
    @media only screen and (min-width: 75em) {
      .about__client:nth-child(n + 5) {
        margin-top: 5.5vw; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__client:nth-child(n + 8) {
        flex: 0 0 25%; } }
    .about__client img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
      max-height: 5rem;
      filter: grayscale(100%);
      transition: filter 0.6s; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client img {
          max-width: 65%; } }
      @media only screen and (min-width: 75em) {
        .about__client img {
          max-width: 85%;
          max-height: 3vw; } }
    @media only screen and (min-width: 75em) {
      .about__client:nth-child(2) img {
        margin-right: 47%;
        max-height: 3.5vw; } }
    .about__client:nth-child(3) img {
      max-width: 70%;
      max-height: 3.5rem; }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(3) img {
          max-width: 87%;
          max-height: 4vw; } }
    .about__client:nth-child(4) img {
      max-width: 84%;
      max-height: 6rem; }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(4) img {
          margin-left: 2.5rem; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(4) img {
          margin-left: 30%;
          max-height: 3.5vw; } }
    .about__client:nth-child(5) img {
      max-width: 84%;
      max-height: 6.7rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(5) img {
          max-width: 60%;
          max-height: 5rem; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(5) img {
          margin-right: 0rem;
          max-height: 5rem; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(5) img {
          margin-right: 13%;
          max-height: 4vw; } }
    .about__client:nth-child(6) img {
      padding-top: 0.8rem;
      max-width: 88%;
      max-height: 5.5rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(6) img {
          padding-top: 0rem;
          margin-top: -2rem;
          max-height: 3rem; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(6) img {
          margin-top: 0rem;
          max-height: 3rem; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(6) img {
          max-height: 3vw; } }
    .about__client:nth-child(7) img {
      max-width: 88%;
      max-height: 5.5rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(7) img {
          max-width: 60%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(7) img {
          max-height: 4rem;
          margin-left: 0rem;
          margin-top: -0.5rem; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(7) img {
          margin-left: 7%;
          max-height: 3.5vw; } }
    .about__client:nth-child(8) img {
      padding-top: 2rem;
      max-width: 88%;
      max-height: 5.5rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(8) img {
          padding-top: 1rem;
          max-width: 70%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(8) img {
          padding-top: 0rem;
          margin-right: 0rem;
          max-width: 70%; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(8) img {
          margin-right: 0%;
          max-height: 4vw; } }
    .about__client:nth-child(9) img {
      max-width: 88%;
      max-height: 5.6rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .about__client:nth-child(9) img {
          padding-top: 0.8rem;
          max-width: 60%;
          max-height: 5rem; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .about__client:nth-child(9) img {
          padding-top: 0rem;
          margin-right: 2rem; } }
      @media only screen and (min-width: 75em) {
        .about__client:nth-child(9) img {
          max-height: 4vw;
          max-width: 70%;
          margin-right: 24%; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__client:nth-child(10) img {
        margin-top: 0.5rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__client:nth-child(10) img {
        margin-left: 3.1rem; } }
    @media only screen and (min-width: 75em) {
      .about__client:nth-child(10) img {
        margin-top: 0;
        max-height: 2vw;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .about__client:nth-child(11) img {
        margin-top: 0.4rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .about__client:nth-child(11) img {
        margin-left: 1.5rem; } }
    @media only screen and (min-width: 75em) {
      .about__client:nth-child(11) img {
        margin-top: 0;
        max-height: 3.5vw;
        margin-left: auto;
        margin-right: auto; } }

.contact {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2.6rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .contact {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .contact {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .contact {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .contact {
      display: flex;
      padding-top: 3.8rem; } }
  @media only screen and (min-width: 75em) {
    .contact {
      padding-top: 5.5vh; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .contact {
      padding-top: 2rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .contact__tab:not(:last-child) {
      padding-left: 4.8rem; } }
  @media only screen and (min-width: 75em) {
    .contact__tab:not(:last-child) {
      padding-left: 3.8vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .contact__tab:first-child {
      padding-left: 0.3rem; } }
  @media only screen and (min-width: 75em) {
    .contact__tab:first-child {
      padding-left: 3.8vw; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .contact__tab:last-child {
      padding-left: 4.2rem; } }
  @media only screen and (min-width: 75em) {
    .contact__tab:last-child {
      padding-left: 3.2vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .contact__tab:last-child {
      padding-left: 2.4rem; } }
  .contact__tab--1 {
    opacity: 0;
    animation: fadeIn 0.3s 0s forwards; }
  .contact__tab--2 {
    opacity: 0;
    animation: fadeIn 0.3s 0.15s forwards; }
  .contact__tab--3 {
    opacity: 0;
    animation: fadeIn 0.3s 0.3s forwards; }
  .contact__city {
    font-size: 2.75rem;
    margin-bottom: 1.1rem; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .contact__city {
        font-size: 2.6rem; } }
    @media only screen and (min-width: 75em) {
      .contact__city {
        font-size: 2vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .contact__city {
        font-size: 2.75rem; } }
  .contact__phone {
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
    transition: transform 0.5s; }
    .contact__phone:hover {
      transform: translateX(8px); }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .contact__phone {
        padding-top: 1.1rem;
        font-size: 1.8rem;
        margin-bottom: 2rem; } }
    @media only screen and (min-width: 75em) {
      .contact__phone {
        padding-top: 1.4vh;
        font-size: 1.4vw;
        margin-bottom: 3vh; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .contact__phone {
        padding-top: 0.5rem;
        font-size: 2.4rem;
        margin-bottom: 2.3rem; } }
  .contact__description, .contact__email {
    font-size: 2.4rem;
    line-height: 1.2; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .contact__description, .contact__email {
        font-size: 1.77rem;
        line-height: 1.25; } }
    @media only screen and (min-width: 75em) {
      .contact__description, .contact__email {
        line-height: 1.2;
        font-size: 1.4vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .contact__description, .contact__email {
        font-size: 2.4rem;
        line-height: 1.2; } }
  .contact__email {
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 2.65rem;
    transition: transform 0.5s; }
    .contact__email:hover {
      transform: translateX(8px); }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .contact__email {
        margin-bottom: 2.3rem; } }
    @media only screen and (min-width: 75em) {
      .contact__email {
        margin-bottom: 3.6vh; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .contact__email {
        margin-bottom: 2.65rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .contact__list {
      padding-top: 1.48rem; } }
  @media only screen and (min-width: 75em) {
    .contact__list {
      padding-top: 2vh; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .contact__list {
      padding-top: 1rem; } }
  .contact__link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 2.4rem;
    line-height: 1.15;
    text-transform: capitalize;
    transition: transform 0.5s; }
    .contact__link:hover {
      transform: translateX(8px); }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .contact__link {
        font-size: 1.8rem;
        line-height: 1.2; } }
    @media only screen and (min-width: 75em) {
      .contact__link {
        line-height: 1.25;
        font-size: 1.4vw; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .contact__link {
        font-size: 2.4rem;
        line-height: 1.15; } }

.projects {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.45rem; }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .projects {
      padding-left: 4.6rem;
      padding-right: 4.6rem; } }
  @media only screen and (min-width: 75em) {
    .projects {
      padding-left: 3.7vw;
      padding-right: 3.7vw; } }
  @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
    .projects {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
    .projects {
      margin-top: 0rem; } }
  @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
    .projects {
      margin-top: 0.1rem; } }
  .projects__item {
    background: black;
    position: relative;
    flex-basis: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 0.95vh;
    overflow: hidden; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .projects__item {
        flex-basis: 32.5%;
        margin-bottom: 0.75rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .projects__item {
        margin-bottom: 1.2rem; } }
    @media only screen and (min-width: 75em) {
      .projects__item {
        margin-bottom: 1.8vh; } }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .projects__item:not(:nth-child(3n)) {
        margin-right: 1.25%; } }
    .projects__item:hover .projects__image {
      height: 110%;
      filter: grayscale(0%); }
      .projects__item:hover .projects__image--wide {
        height: 140%; }
    @media only screen and (min-width: 75em) {
      .projects__item:hover .projects__info {
        left: 0;
        opacity: 1; } }
    @media only screen and (min-width: 75em) {
      .projects__item:hover .projects__info h2,
      .projects__item:hover .projects__info p {
        opacity: 1; } }
  .projects__image {
    position: absolute;
    height: 101%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
    transition: height 0.5s; }
    .projects__image--wide {
      height: 133%; }
  .projects__info {
    position: absolute;
    bottom: 0;
    padding: 8% 12.3%;
    color: #ffffff;
    left: 0;
    opacity: 1;
    transition: left 0.5s; }
    @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
      .projects__info {
        width: 100%;
        padding: 2.6rem 3rem; } }
    @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
      .projects__info {
        padding: 3.55rem 4rem; } }
    @media only screen and (min-width: 75em) {
      .projects__info {
        padding: 10.75% 12%; } }
    @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
      .projects__info {
        padding: 10.5% 12%; } }
    @media only screen and (min-width: 75em) {
      .projects__info {
        left: -50px;
        opacity: 0; } }
    .projects__info h2 {
      text-transform: uppercase;
      font-size: 6.8vw;
      line-height: 1.2; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .projects__info h2 {
          font-size: 1.35rem;
          line-height: 1.15;
          max-width: 70%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .projects__info h2 {
          font-size: 1.85rem;
          line-height: 1.15; } }
      @media only screen and (min-width: 75em) {
        .projects__info h2 {
          font-size: 1.75vw;
          opacity: 0;
          transition: opacity 0.5s; } }
      @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
        .projects__info h2 {
          font-size: 2.2rem;
          max-width: 100%;
          line-height: 1.2; } }
    .projects__info p {
      font-size: 5.2vw;
      line-height: 1.2;
      opacity: 0.9;
      margin-top: 0.2rem; }
      @media only screen and (min-width: 42.5em) and (min-device-width: 680px) {
        .projects__info p {
          margin-top: 0.1rem;
          font-size: 1.1rem;
          max-width: 70%; } }
      @media only screen and (min-width: 56.25em) and (min-device-width: 900px) {
        .projects__info p {
          margin-top: 0rem;
          font-size: 1.45rem;
          line-height: 1.125; } }
      @media only screen and (min-width: 75em) {
        .projects__info p {
          font-size: 1.41vw;
          opacity: 0;
          transition: opacity 0.5s; } }
      @media only screen and (min-device-width: 319px) and (max-device-width: 480px) and (orientation: landscape) {
        .projects__info p {
          font-size: 1.6rem;
          line-height: 1.05;
          max-width: 90%; } }
