.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.55rem;
  padding-bottom: 2.55rem;

  @include container;

  @include respond(tab-port) {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
  }

  @include respond(tab-land) {
    padding-top: 4.55rem;
    padding-bottom: 4.55rem;
  }

  @include respond(desk) {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
  }

  @include respond(phone-land) {
    // @include respond(tab-port) {
    padding-top: 2.55rem;
    padding-bottom: 2.55rem;
  }

  &__logo {
    max-width: 20rem;

    font-family: 'Arial', sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

    font-size: 3.15rem;
    line-height: 0.97;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    letter-spacing: -1.8px;

    @include respond(tab-port) {
      max-width: 40rem;
      font-size: 2.91rem;
      letter-spacing: -1.5px;
    }

    @include respond(tab-land) {
      max-width: 40rem;
      font-size: 2.9rem;
      letter-spacing: -1.44px;
    }

    @include respond(desk) {
      max-width: 40vw;
      // font-size: 2.586rem;
      font-size: 1.92vw;
      letter-spacing: -1.44px;
    }

    @include respond(phone-land) {
      // @include respond(tab-port) {
      max-width: 40rem;
      font-size: 3.15rem;
      letter-spacing: -1.8px;
    }
  }
}
