.popup {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: black;
  cursor: url('./../img/close.png'), auto;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: opacity 0.3s;

  &--show {
    visibility: visible;
    opacity: 1;

    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }

  &__container {
    position: relative;
    width: 80%;
    height: fit-content;

    &::before {
      position: absolute;

      width: 4.5vw;
      height: 4.5vw;

      top: -5vw;
      right: -5vw;

      z-index: 2;
      content: '';
      display: inline-block;
      background: no-repeat center url('./../img/close.png');
      background-size: 4.5vw;
      animation: fadeIn 3s;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  video {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: auto;
  }
}
