@keyframes fade-in {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fadeInAndDelay {
  0% {
    visibility: hidden;
  }

  33% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}

@keyframes fadeOutAndDelay {
  1% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  // opacity: 0;
  visibility: visible !important;
  animation: fade-in 0.3s 0s forwards;
}

.fade-out-and-delay {
  // opacity: 0;
  // visibility: hid !important;
  transition: all 2s;
  animation: fadeInAndDelay 2s;
}

// .opacity-zero {
//   // opacity: 0;
//   visibility: hidden;
// }
