*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(big-desk) {
    font-size: 75%;
  }
}

body {
  position: relative;
  min-height: 100vh;
  line-height: 1.2;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}

.overflow-y-none {
  overflow-y: hidden;
}

.overflow-none {
  overflow: hidden;
}
