:root {
  --app-height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(big-desk) {
    // font-size: 75%;
  }
}

body {
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100);
  color: $color-black;

  line-height: 1.2;

  &::-webkit-scrollbar {
    display: none;
  }

  // @media only screen and (max-width: 75em) {
  //   min-height: calc(var(--vh, 1vh) * 100);
  // }
}

::selection {
  background-color: $color-white;
  color: $color-black;
}

.overflow-y-none {
  overflow-y: hidden !important;
}

.overflow-none {
  overflow: hidden;
}
